body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.site-navigation,
.cart,
.slider-list,
.service-list,
.features-list,
.footer-social,
.sample-list,
.pagination-item,
.footer-social-list {
  list-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  background-color: #eeeeee;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  display: flex;
}

.main-header-logo img:hover {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 820px;
  padding-top: 16px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation li {
  padding-right: 23px;
  padding-left: 23px;
}


.site-navigation a:hover,
.cart-link:hover {
  color: #fb565a;
}

.site-navigation a:active,
.cart-link:active {
  color: #bdbdbd;
}

.cart-link {
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  right: 100px;
  bottom: 8px;

  width: 15px;
  height: 15px;

  background: url(../img/cart-icon.svg) no-repeat;
}

.slider {
  height: 430px;
  margin-bottom: 252px;

  /* временно */

  background-color: #929191;
}

.slider-text-big {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.service {
  margin-bottom: 75px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0;
  padding: 0;
}

.service-item {
  flex-basis: 260px;
}

.service-list h3 {
  margin: 0;
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service-item p {
  margin: 0;
  margin-bottom: 31px;
}

.service-item-web::before {
  content: "";
  position: absolute;
  bottom: 218px;

  width: 300px;
  height: 146px;

  background: url(../img/web-site.jpg) no-repeat;
}

.service-item-app::before {
  content: "";
  position: absolute;
  bottom: 218px;

  width: 300px;
  height: 146px;

  background: url(../img/app.jpg) no-repeat;
}

.service-item-slide::before {
  content: "";
  position: absolute;
  bottom: 218px;

  width: 300px;
  height: 146px;

  background: url(../img/presentation.jpg) no-repeat;
  ;
}

.service-button {
  display: inline-block;
  padding: 16px 40px;

  border-radius: 3px;
}

.service-button-green {
  background-color: #00ca74;
}

.service-button-green:hover {
  background-color: #00bc6c;
}

.service-button-yellow {
  background-color: #efc84a;
}

.service-button-yellow:hover {
  background-color: #e5a722;
}

.temporarily

/*временно*/
  {
  height: 1200px;
}

.index-columns {
  display: flex;

  /*Временно для сетки*/

  background-color: #f0cef0;
}

.features {
  width: 650px;

  /*Временно для сетки*/

  background-color: #caf3be;
}

.features-text-big {
  margin: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.features-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.statistics {
  width: 208px;
  margin-left: 153px;

  /*Временно для сетки*/

  background-color: #d4f3cb;
}

.statistics-title {
  font-weight: 700;
  text-transform: uppercase;
}

.statistics-list dt {
  line-height: 18px;
}

.statistics-list dd {
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
}

.statistics-list sup {
  font-size: 23px;
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 126px;

  /*Временно для сетки*/

  background-color: #1f93c0;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

.page-title {
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 77px 0 108px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  /*Временно*/
  width: 260px;

  /*Временно для разметки*/

  background-color: #caf3be;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.18px;
}

.samples {
  width: 760px;

  /*Временно*/
  margin-top: 100px;
}

.sample-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sample-item {
  position: relative;

  margin-bottom: 66px;
}

.sample-item::before {
  content: "";
  position: absolute;
  top: -40px;

  width: 360px;
  height: 40px;

  background-image: url(../img/browser.png);
  opacity: 0.12;
}

.sample-item .hidden {
  display: none;
}

.sample-item:hover::before {
  opacity: 1;
}

.sample-item:hover .hidden {
  position: absolute;
  bottom: 7px;
  z-index: 1;

  display: block;
  width: 360px;
  height: 231px;

  text-align: center;

  background-color: #eeeeee;
}

.link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.link-title:hover {
  color: #fb565a;
}

.link-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.sample-item p {
  line-height: 18px;
  color: #666666;
}

.button-price {
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.button-price:focus,
.button-price:focus {
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  /*Временно для разметки*/
  min-height: 51px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 16px 20px;

  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  padding: 13px 17px;

  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {

  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}


.pagination-item-next a {
  padding-right: 80px;
  padding-left: 80px;

  text-transform: uppercase;
}

.footer-contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts-adress {
  line-height: 18px;
  color: #666666;
}

.footer-contacts-phone,
.footer-contacts-phone a {
  color: #666666;
}

.footer-contacts-phone a:hover {
  color: #000000;
}

.footer-contacts-phone a:active {
  opacity: 0.3;
}

.main-footer .container {
  display: flex;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 942px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.button:active .social-logo {
  opacity: 0.3;
}

.footer-text p {
  margin: 0;
}

.footer-text-big {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

p.footer-text-small {
  margin-top: 10px;

  line-height: 22px;
  color: #444444;
}

.modal h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback label {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.feedback input,
.feedback textarea {
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: solid 2px #d7dcde;
  outline: none;
}

.feedback input:hover,
.feedback textarea:hover {
  border: solid 2px #b4b9bb;
}

.feedback input:focus,
.feedback textarea:focus {
  color: #444444;

  border: solid 2px #000000;
}

.feedback input:invalid {
  color: #e74246;

  border: solid 2px #e74246;
}

.modal-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: Roboto;
}



/*
.sorter-down {
  background: url("../img/icon-down-dir.svg") no-repeat;
}

.sorter-up {
  background: url("../img/icon-up-dir.svg") no-repeat;
}
*/
