body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  padding-top: 50px;

  background-color: #eeeeee;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  display: flex;
}

.main-header-logo img:hover,
.main-header-logo:focus img {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 821px;
  padding-top: 16px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation a {
  position: relative;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-navigation .site-navigation {
  display: flex;
  flex-basis: 489px;
  flex-wrap: wrap;
  margin-right: auto;

  list-style: none;
}

.site-navigation li {
  padding-right: 23px;
  padding-left: 23px;
}

.site-navigation .current-link::after,
.main-navigation a:visited::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}


.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: #bdbdbd;
}

.cart-link {
  display: block;
  max-width: 200px;
  margin-left: 40px;

  text-align: right;
}

.cart-link::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -40px;

  width: 15px;
  height: 15px;

  background: url(../img/cart-icon.svg) no-repeat;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-list {
  position: relative;

  height: 430px;
  margin: 0 0 81px 0;
  padding: 0;

  list-style: none;
}

.slider-list p {
  margin: 0;
  margin-bottom: 26px;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  opacity: 0;

  transition: opacity 1s;
}

.slider-item-showing {
  z-index: 2;

  opacity: 1;
}

.slider-item div {
  max-width: 515px;
  padding-top: 77px;
}

.slider-list li:nth-of-type(1) {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 430px bottom;
}

.slider-list li:nth-of-type(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% bottom;
}

.slider-list li:nth-of-type(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 400px bottom;
}

.slider-text-big {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-text-big+p {
  margin-bottom: 39px;
  padding: 0 80px 0 0;
}

.slider-button {
  display: inline-block;
  padding: 16px 54px;

  border-radius: 3px;
}

.service {
  margin-bottom: 74px;
  padding-bottom: 60px;

  border-bottom: 2px solid #eeeeee;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-item {
  width: 300px;
  margin: 0 100px 20px 0;
}

.service-item:nth-child(3n) {
  margin-right: 0;
}

.service-item img {
  display: flex;
}

.service-item-description {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.service-list h3 {
  margin: 24px 0 17px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service-item p {
  margin: 0 0 32px;
}

.service-button {
  align-self: flex-start;
  padding: 16px 40px;

  border-radius: 3px;
}

.service-button-green {
  background-color: #00ca74;
}

.service-button-green:hover,
.service-button-green:focus {
  background-color: #00bc6c;
}

.service-button-yellow {
  background-color: #efc84a;
}

.service-button-yellow:hover,
.service-button-yellow:focus {
  background-color: #e5a722;
}

.index-columns {
  display: flex;
  margin-bottom: 49px;
  padding-bottom: 49px;

  border-bottom: 2px solid #eeeeee;
}

.features {
  width: 660px;
}

.features-text-big {
  margin: 0 0 33px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.features-text-small {
  margin: 0 0 39px;
}

.features-title {
  margin: 0;

  font: inherit;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.features-list {
  margin: 0;
  padding: 24px 0 0 36px;

  list-style: none;
}

.features-item {
  position: relative;

  padding-bottom: 24px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.statistics {
  width: 360px;
  margin-left: auto;
}

.statistics-title::before {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 0;

  width: 360px;
  height: 208px;

  background-image: url("../img/nerds-illustration.jpg");
}

.statistics-title {
  position: relative;

  margin: 210px 0 31px;

  font: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.statistics-table {
  min-height: 121px;

  border-collapse: collapse;
  border-spacing: 0;
}

.statistics-first-row td {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.statistics-first-row sup {
  font-size: 25px;
}

.statistics-second-row td {
  width: 120px;

  line-height: 18px;
}

.partners {
  margin-bottom: 81px;
  padding-bottom: 13px;

  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-item {
  position: relative;

  display: flex;
  justify-content: center;
  width: 260px;
  margin: 0 40px 20px 0;
}

.partners-item:nth-child(4n) {
  margin-right: 0;
}

.partners-item a {
  align-self: center;
}

.partners-item:not(:nth-child(4n))::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -22px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover,
.partners a:focus {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

.page-title {
  margin: 0 auto 57px;
  padding: 77px 0 108px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item:first-child {
  margin-bottom: 56px;
}

.filter-item legend {
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.18px;
}

.filter-item:not(:first-child) legend {
  margin-bottom: 14px;
}

.range-filter {
  width: 260px;
  margin-top: 46px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 17px;
  padding: 39px 20px 0;

  background-color: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-right: 35px;
  margin-left: 10px;
  padding: 8px 10px;

  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  color: #283136;

  background: #eeeeee;
  border: none;
  border-radius: 5px;
}

.price-controls input:last-child {
  margin-right: 0;
}


.filter-item+.filter-item {
  margin-bottom: 29px;
}

.filter-item .filter-option {
  margin-bottom: 16px;
  padding-left: 37px;
}

.filter-option label {
  position: relative;

  display: block;
  width: 260px;

  cursor: pointer;

  user-select: none;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;

  width: 17px;
  height: 17px;

  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -28px;

  width: 9px;
  height: 9px;

  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input+label:hover::before,
.filter-input:checked+label:hover::after,
.filter-input:focus+label::before,
.filter-input:checked:focus+label::after {
  opacity: 1;
}

.filter-input:disabled+label {
  opacity: 0.3;

  pointer-events: none;
}

.filter-form button {
  padding: 16px 89px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;

  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.filter-form button:hover,
.filter-form button:focus {
  background-color: #dfdfdf;
}

.filter-form button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
}

.filter-sort-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 360px;
}

.sorter ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorter a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorter a:hover,
.sorter a:focus {
  opacity: 0.6;
}

.sorter a:active,
.sorter .current-sort-link {
  opacity: 1;
}

.sorter-down {
  width: 11px;
  height: 10px;

  background: url("../img/icon-down-dir.svg") no-repeat;
}

.sorter-up {
  width: 11px;
  height: 10px;

  background: url("../img/icon-up-dir.svg") no-repeat;
}

.sorter li {
  padding-right: 26px;
}

.samples {
  width: 760px;
}

.sample-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sample-item {
  position: relative;

  margin-bottom: 65px;
}

.sample-item:nth-last-of-type(-n+2) {
  margin-bottom: 55px;
}

.sample-item::before {
  content: "";
  position: absolute;
  top: -40px;

  width: 360px;
  height: 40px;

  background-image: url(../img/browser.png);
  opacity: 0.12;
}

.sample-item .hidden {
  display: none;
  box-sizing: border-box;
  width: 360px;
  padding: 25px 60px 40px;
}

.sample-item h3 {
  margin: 0 0 15px 0;
}

.sample-item p {
  margin: 0 0 31px 0;

  line-height: 18px;
  color: #666666;
}

.sample-item:hover::before,
.sample-item:focus::before {
  opacity: 1;
}

.sample-item:hover .hidden,
.sample-item:focus .hidden {
  position: absolute;
  bottom: 7px;
  z-index: 1;

  display: block;
  width: 360px;
  min-height: 231px;

  text-align: center;

  background-color: #eeeeee;
}

.link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.link-title:hover,
.link-title:focus {
  color: #fb565a;
}

.link-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-price {
  display: inline-block;
  padding: 15px 60px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border-radius: 3px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 12px;

  list-style: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 16px 20px;

  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  padding: 13px 17px;

  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}


.pagination-item-next a {
  padding-right: 78px;
  padding-left: 79px;

  text-transform: uppercase;
}

.main-footer {
  margin-bottom: 70px;
}

.main-footer .container {
  position: relative;
}

.footer-contacts {
  margin-bottom: 68px;
}

.footer-contacts-wrapper {
  position: absolute;
  top: 54px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 319px;
  min-height: 308px;
  padding: 49px 53px;

  background-color: #ffffff;
}

.footer-contacts-title {
  margin: 0 0 22px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts-adress {
  margin: 0 0 16px 0;

  line-height: 18px;
  color: #666666;
}

.footer-contacts-phone {
  margin: 0 0 34px 0;
}

.footer-contacts-phone,
.footer-contacts-phone a {
  color: #666666;
}

.footer-contacts-phone a:hover,
.footer-contacts-phone a:focus {
  color: #000000;
}

.footer-contacts-phone a:active {
  opacity: 0.3;
}

.footer-contacts-wrapper .button {
  align-self: center;
  padding: 16px 41px;

  border-radius: 3px;
}

.footer-map {
  height: 416px;
  margin: 0;
}

.footer-map img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.footer-social-wrapper {
  display: flex;
  justify-content: flex-start;
}

.footer-social {
  margin-right: 140px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social-list li {
  margin-right: 11px;
  margin-bottom: 10px;
}

.footer-social-list li:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.button:active .social-logo {
  opacity: 0.3;
}

.footer-text {
  padding-top: 7px;
}

.footer-text-big {
  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-text-small {
  margin: 0;

  line-height: 22px;
  color: #444444;
}

.modal-feedback {
  position: fixed;
  top: 120px;
  left: 50%;

  display: none;
  box-sizing: border-box;
  width: 960px;
  margin-left: -480px;
  padding: 67px 100px 84px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-feedback h2 {
  margin: 0 0 41px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 760px;
}

.modal-feedback p {
  margin: 0;
}

.feedback label {
  display: block;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.feedback input,
.feedback textarea {
  box-sizing: border-box;
  width: 360px;
  padding: 12px;
  padding-bottom: 14px;

  font: inherit;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: solid 2px #d7dcde;
  outline: none;
}

.feedback p:last-of-type {
  width: 100%;
  margin-top: 36px;
  margin-bottom: 41px;
}

.feedback textarea {
  width: 100%;
  min-height: 117px;
  padding-top: 9px;
}

.feedback input:hover,
.feedback textarea:hover {
  border: solid 2px #b4b9bb;
}

.feedback input:focus,
.feedback textarea:focus {
  color: #444444;

  border: solid 2px #000000;
}

.feedback input:invalid {
  color: #e74246;

  border: solid 2px #e74246;
}


.modal-button {
  padding: 16px 83px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;

  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 23px;
  height: 23px;

  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -2px;

  width: 27px;
  height: 5px;

  background-color: #e74246;
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  outline: none;
  opacity: 0.1;
}
